.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}

.sidePage {
  justify-content: flex-start;
  padding: 30px;
  top: 0;
  position: fixed;
  top: 20rem;
  left: 0;

}

.sidePage ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidePage li {
cursor: pointer;
margin-bottom: 10px;
position: left;
}

@media (min-width: 701px) and (max-width: 1120px) {

}

@media (max-width: 700px) {

}